* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: .95rem;
  color: $dark-grey;
  overflow-x: hidden;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-bold;
}

a {
  color: $brand-color;
  transition: .2s ease-in-out all;
  font-weight: $font-regular;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $medium-grey;
  }

  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong {
  font-weight: $font-bold;
}

label {
  font-weight: $font-regular;
}
.overflow-hidden {
	overflow-x: hidden;
}
.bk--primary-color{
  color: $brand-color !important;
}
.bk-discre-tra--li{
  text-align: center;
  padding: 8px;
  &.active{
    background: #f7f7f7;
  }
}