// breakpoints
$breakpoints: (
  S: 576px,
  M: 768px,
  L: 992px,
  XL: 1200px
);

@mixin MQ($breakpoint){
  @if map-has-key($breakpoints,$breakpoint){
    @media screen and (min-width: map-get($breakpoints,$breakpoint)){
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}