%no-margin{
  margin: 0;
  padding: 0;
}
%center-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
%section-height{
  min-height: 450px;
}
%bk-icon {
  display: block;
  width: 60px;
  height: 60px;
}
%title-sizes{
  text-align: center;
  @include MQ(M){
    text-align: left;
    font-size: 4rem;
  }
  @include MQ(L){
      font-size: 4.5rem;
  }
  @include MQ(XL){
      font-size: 5rem;
  }
}

%bk-cover{
  background-size: cover;
}