@charset 'UTF-8';
@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
// @import 'components/hamburguer';
@import 'components/navbar';
// @import 'components/loading-txt';
// @import 'components/buttons';

@import 'layout/footer';

// @import 'pages/page-home';

.bk-title {
	&--shadow {
		text-shadow: 2px 2px 2px $black;
	}
}

.bk-page--title {
	position: absolute;
	font-size: 40px;
}


.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: $brand-color url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-top--fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

#tribe-events .tribe-events-button,
.tribe-events-button {
	display: none;
}

.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text] {
	cursor: pointer;
	width: initial;
}

.bk-section--acordeon {
	.vc_tta-panel-title {
		font-size: 16px;
	}
}

.bk-section--institucion{
	background: #f4f4f4;
}
.bk-line-image{
	background: url('../img/pixel.jpg') no-repeat 50% 95%;
}
.bd-highlight{
	background: $white;
	border: 2px solid $ligth-grey;
}
.modalShow{
	cursor: pointer;
}
.bk-resource-doc{
	font-size: 13px;
	background: $white;
	display: block;
	padding: 5px 16px;
	margin-bottom:5px; 
	border: 1px solid $ligth-grey;
	&:hover{
		background: $brand-color;
		color: $white;
	}
}

.bk-button--default button{
	border-radius: 0 !important;
	&:hover{
		background: $brand-color !important;
		color: $white !important;
	}
}

.tribe-events-nav-pagination{
	.tribe-events-nav-previous{
		display: none !important;
	}
}

.nav-link {
    padding: 6px;
}