.bk-main-content {
	/* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
	position: relative;
	background-color: $white;
	z-index: $z-i-2;
	min-height: calc(100vh - 56px);
	//we assign a top padding since the header is in position absolute or fixed
	//padding-top: $header-S;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	@include transition-property(transform);
	@include transition-duration(.4s);

	&.lateral-menu-is-open {
		/* translate to show the lateral menu - all content needs to be put in the .bk-main-content to translate*/
		@include transform(translateX(-360px));
	}
}

.bk-header {
	position: fixed;
	top: 0;
	right: 0;
	width: 120px;
	

	z-index: $z-i-3;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	@include transition-property(transform);
	@include transition-duration(.4s);

	&.lateral-menu-is-open {
		/* translate to show the lateral menu */
		@include transform(translateX(-360px));
	}

	//assign this class to the header if you want a fixed navigation
	&.is-fixed {
		position: fixed;
	}
}

#bk-menu-trigger {
	background-color: $brand-grey;
	display: block;
	padding: 20px 24px;
	position: relative;
	top: 20px;
	right: 20px;
	.bk-menu-text {
		text-transform: uppercase;
		color: $white;
		display: inline-block;
		margin-right: 10px;
	}

	.bk-menu-icon {
		/* this span is the central line in the menu menu */
		display: inline-block;
		position: absolute;
		@include center(y); // mixin inside partials > _mixings.scss
		width: 18px;
		height: 2px;
		background-color: #FFF;

		/* these are the upper and lower lines in the menu menu */
		&::before,
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: inherit;
			left: 0;
		}

		&::before {
			bottom: 6px;
		}

		&::after {
			top: 6px;
		}
	}

	&.is-clicked {
		.bk-menu-icon {
			background-color: rgba(#FFF, 0);

			&::before,
			&::after {
				background-color: rgba(#FFF, 1);
			}

			&::before {
				bottom: 0;
				@include transform(rotate(45deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(-45deg));
			}
		}
	}
}

#bk-lateral-nav {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	visibility: hidden;
	padding-left: 40px;
	/* the secondary navigation is covered by the main element */
	z-index: $z-i-1; // see partials > _variables.scss

	width: 360px;
	background-color: $brand-grey;
	overflow-y: auto;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;

	/* this creates the subtle slide in animation of the navigation */
	@include transform(translateX(80px));

	.bk-navigation {
		margin: 10px 0 16px;
	}

	.sub-menu {
		padding: 0 10px 20px 15px;
		display: none;
	}



	@include MQ(M) {
		.bk-navigation {
			margin: 20px 0;
		}
	}

	&.lateral-menu-is-open {
		@include transform(translateX(0));
		visibility: visible;
		-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
		-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
		transition: transform .4s 0s, visibility 0s 0s;

		/* smooth the scrolling on touch devices - webkit browsers */
		-webkit-overflow-scrolling: touch;
	}

	.dropdown-menu {
		position: initial;
		float: none;
		background: none;
		border: none;
		border-radius: 0;
		display: block;
	}

	a {
		color: $white;
		transition: .2s ease-in-out all;
		font-weight: $font-regular;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			color: $brand-color;
			background: none;
		}

		&:focus {
			text-decoration: none;
		}
	}
}

.bk-navbar--logo {
	display: none;
	@include MQ(M){
		position: fixed;
		z-index: 4;
		left: 70px;
		top: 10px;
	}
}
#bk-close-menu-trigger{
	position: absolute;
	top: 20px;
	right: 20px;
}

.bk-discre-tra--btn {
	cursor: pointer;
	@include color-link($brand-color, $brand-grey);
}

.bk-second-nav {
	@include MQ(S) {
		//display: flex;
		//justify-content: end;
		margin-top: -120px;
		position: relative;
		z-index: 99999999999999999999;
	}

	&--li {
		background: $brand-grey;
		color: $white;
		min-width: 180px;
		min-height: 125px;
		text-align: center;
	}

	&--link {
		@include color-link($white, $brand-color);
	}
}